.login {
    height: 85vh;
    width: 100vw;

    background-color:beige;

    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.upRowLogin {
    height: 30vh;

}

.middleRowLogin {
    height: 25vh;
    display:flex;

    flex-direction: column;

    align-items: center;
    justify-content: space-around;

}

.downRowLogin {
    height: 30vh;

}

