.login {
    height: 85vh;
    width: 100vw;

    background-color:beige;

    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.upRowLogin {
    height: 30vh;

}

.middleRowLogin {
    height: 25vh;
    display:flex;

    flex-direction: column;

    align-items: center;
    justify-content: space-around;

}

.downRowLogin {
    height: 30vh;

    display:flex;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.messageBox {
    display:flex;
    justify-content: center;
}

.buttonBody {
    width: 8vw;
    margin: 1em;

    color: lightgray;
    background-color:cadetblue;
    font-weight: bold;

    transition: 0.2s;
    cursor: pointer;

    display:flex;
    justify-content: center;

    border-radius: 45% 45% 45% 45%;
}

.buttonBody:hover {

    transition: 0.2s;
    color: darkgrey;
}