.register {
    height: 85vh;
    width: 100vw;

    margin: 0;
    padding: 0;

    background-color:beige;

}

.upRow {
    height: 60vh;

    flex: grid;
}

.downRowRegister {
    height: 25vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.inputRow { 
    height: 15vh;
    align-items: center;
    justify-content: center;

}

.buttonBody {
    width: 6vw;
    margin: 1em;

    color: black;
    background-color: white;
    font-weight: bold;

    transition: 0.2s;
    cursor: pointer;

    display:flex;
    justify-content: center;

    border: solid cadetblue;
    border-radius:  10em;
}

.buttonBody:hover {

    transition: 0.2s;
    color: rgb(92, 89, 89);
    background-color: whitesmoke;
    
}