.profile {
    height: 85vh;
    width: 100vw;

    margin: 0;
    padding: 0;

    background-color:beige;

}

.upRow {
    height: 60vh;

    flex: grid;
}

.downRow {
    height: 25vh;
}

.inputRow { 
    height: 15vh;
    align-items: center;
    justify-content: center;

}

.title {
    display:flex;
    align-items: center;
    justify-content: center;
}

.buttonBody {
    width: 8vw;
    margin: 1em;

    color: lightgray;
    background-color:cadetblue;
    font-weight: bold;

    transition: 0.2s;
    cursor: pointer;

    display:flex;
    justify-content: center;

    border-radius: 45% 45% 45% 45%;
}

.buttonBody:hover {

    transition: 0.2s;
    color: darkgrey;
}