.home {
    height: 85vh;
    width: 100vw;

    background-color: white;

    
    display: flex;
    justify-content:space-around;
    align-items:flex-start;

    flex-wrap: wrap;
}

.spaceRow {
    height: 5vh;
    width: 100vw;
}