.header {
    height: 10vh;
    width: 100vw;

    background-color: cadetblue;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttonClicker {

    margin: 1em;

    color: lightgray;
    font-weight: bold;

    transition: 0.2s;
    cursor: pointer;

    display:flex;
    justify-content: center;
}

.buttonClicker:hover {

    transition: 0.2s;
    color: darkgrey;
}

.homeButton {
    height: 8vh;
    width: 15vw;

    border: 0.1em solid black;
    border-radius: 47% 47% 47% 47%;

    transition: 0.2s;
    cursor: pointer;
}

.loginRegisterDiv {
    display: flex;
    flex-direction: row;
}

.spaceDiv {
    width: 60vw;
}
